{% extends 'base.html.twig' %}


{% block body %}
    <style>
        body {
            position: relative;
        }
    </style>
    <body data-spy="scroll" data-target="#toc">
  <div class="row">
    <div class="container-fluid col-9">
        <h3>Lista Kół Naukowych Politechniki Warszawskiej</h3>
        <div class="list-group">
            {% set counter = '1' %}
            {% set wcounter = '1' %}
            {% for wydzial in wydzials %}
            <br>
            <li class="list-group-item list-group-item-action active" id="list-item-{{ wcounter }}">
                <b>
                    {{ wydzial.nazwa }}
                </b>
            </li>
            {% for org in orgs %}
                {% if org.wydzial == wydzial.nazwa %}

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ org.nazwa }}
                        <i style="text-align: right">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#dddd{{ counter }}">
                                <i class="fas fa-caret-down"></i>
                            </button>
                        </i>
                    </li>

                        <li id="dddd{{ counter }}" class="collapse list-group-item list-group-item-action bg-light">
                                {% for www in wwws %}
                                    {% if www.id == org.id %}
                                        {% if www.www|first != 'h' %}
                                            {% if www.www|first != null %}
                                            <b>www: </b><a onclick='window.open("http://{{ www.www }}");return false;'><i>http://{{ www.www }}</i></a>
                                            {% endif %}
                                        {% else %}
                                            <b>www: </b><a onclick='window.open("{{ www.www }}");return false;'><i>{{ www.www }}</i></a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                        </li>
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
            {% set wcounter = wcounter + 1 %}
            {% endfor %}


            <thead class="table-dark">
            <tr>
                <th>Brak Wydziału</th>
                <th></th>
            </tr>
            </thead>
            {% for org in orgs %}
                {% if org.wydzial == null %}
                    <tr>
                        <td>{{ org.nazwa }}</td>
                        {#<td>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ org.id }}">Simple collapsible</button>
                        </td>#}
                    </tr>
                    {#<tr>
                        <td>
                            <div id="{{ org.id }}" class="collapse">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </td>
                    </tr>#}
                {% endif %}
            {% endfor %}
         <br>
        </div>
    </div>



    <div class="container-fluid col-3">
        <h3>Wydział</h3>
        <nav id="toc" data-toggle="toc" class="sticky-top">
            <ul  class="nav nav-tabs" role="tablist" >
            {% set wcounter = '1' %}
            {% for wydzial in wydzials %}
                <li><small><a href="#list-item-{{ wcounter }}">{{ wydzial.nazwa }}</a></small></li>
                {% set wcounter = wcounter + 1 %}
            {% endfor %}
            </ul>
        </nav>



    </div>
  </div>
  </div>
    <br>
    </body>
    <script>
        $('body').scrollspy({ target: '#toc' })
    </script>
{% endblock %}
