{% extends 'base.html.twig' %}
{% block title %}Koła Naukowe Politechniki Warszawskiej {% endblock %}

{% block body %}
    <style>
        a.card-link:focus, a.card-link:hover {
            background-color: #6aba9c;
        }
    </style>

    <div class="row">
    <div class="container-fluid col-md-9 col-sm-12 mt-3" id="accordion">
        <h3>Lista Kół Naukowych Politechniki Warszawskiej</h3>
        {#<div class="list-group">#}

            {% set counter = '1' %}
            {% set wcounter = '1' %}
            {% for wydzial in wydzials %}
            <br>
                <div class="card text-primary bg-secondary" id="list-item-{{ wcounter }}" >
                    <div class="card-header text-center">
                        <h5>{{ wydzial.nazwa }}</h5>
                    </div>
                </div>
            {% for org in orgs %}
                {% if org.wydzial == wydzial.nazwa %}
                                {% set fb = 'empty' %}
                                {% set website = 'empty' %}
                                {% set opis = 'empty' %}
                                {% for www in wwws %}
                                    {% if www.id == org.id %}
                                        {% if www.type == 163842 %}
                                            {% if www.www|first != 'h' %}
                                                {% if www.www|first != null %}
                                                    {% set website %}
                                                        http://{{ www.www }}
                                                    {% endset %}
                                                {% endif %}
                                            {% else %}
                                                {% set website %}
                                                    {{ www.www }}
                                                {% endset %}
                                            {% endif %}
                                        {% else %}
                                            {% if www.www|first != 'h' %}
                                                {% if www.www|first != null %}
                                                    {% set fb %}
                                                        http://{{ www.www }}
                                                    {% endset %}
                                                {% endif %}
                                            {% else %}
                                                {% set fb %}
                                                    {{ www.www }}
                                                {% endset %}
                                            {% endif %}
                                        {% endif %}
                                        {% if www.opis is not null %}
                                            {% set opis %}
                                                <p style="text-align: justify">
                                                    <b>Opis:</b>
                                                    {{ www.opis }}
                                                </p>
                                            {% endset %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                    <div class="card ">
                            {% if website!='empty' or fb!='empty' %}
                                <a class="card-link text-dark" data-toggle="collapse" href="#target{{ counter }}">
                                    <div class=" card-header">
                                        {{ org.nazwa }}
                                        <i class="float-right">
                                            <i class="fas fa-caret-down"></i>
                                        </i>
                                    </div>
                                </a>
                        <div id="target{{ counter }}" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <b>Zobacz też:</b>
                                    <br>
                                    {% if website!='empty' %}
                                        <a href="{{ website }}"><i class="fas fa-external-link-alt fa-2x"></i></a>
                                        &nbsp;
                                    {% endif %}
                                    {% if fb!='empty' %}
                                        &nbsp;
                                        <a href="{{ fb }}"><i class="fab fa-facebook fa-2x"></i></a>
                                    {% endif %}
                                    {% if opis!='empty' %}
                                        <br><br>
                                        {{ opis }}
                                    {% endif %}
                                </div>
                        </div>
                            {% else %}
                                <div class=" card-header">
                                    {{ org.nazwa }}
                                </div>
                            {% endif %}

                    </div>
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
            {% set wcounter = wcounter + 1 %}
            {% endfor %}


            {#<thead class="table-dark">
            <tr>
                <th>Brak Wydziału</th>
                <th></th>
            </tr>
            </thead>
            {% for org in orgs %}
                {% if org.wydzial == null %}
                    <tr>
                        <td>{{ org.nazwa }}</td>
                        #}{#<td>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ org.id }}">Simple collapsible</button>
                        </td>#}{#
                    </tr>
                    #}{#<tr>
                        <td>
                            <div id="{{ org.id }}" class="collapse">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </td>
                    </tr>#}{#
                {% endif %}
            {% endfor %}
         <br>#}
        </div>




    <div class="container-fluid col-md-3 col-sm-12 mt-3 bd-sidebar">
        <h3>Wydział</h3>
        <nav id="toc" data-toggle="toc" class="navbar navbar-inverse navbar-fixed-right sticky-top" >
            {#<div class="navbar nav bg-secondary " style="margin-left: 0px; margin-right: 0px">#}
                <ul  class="nav nav-tabs" role="tablist" >
                {% set wcounter = '1' %}
                {% for wydzial in wydzials %}
                    <a href="#list-item-{{ wcounter }}" style="font-size: small"><li class="nav-item">{{ wydzial.nazwa }}</li></a>
                    {% set wcounter = wcounter + 1 %}
                {% endfor %}
                </ul>
            {#</div>#}
        </nav>



    </div>
    </div>

    <br>
{% endblock %}
